PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=azorde
DATABASE_PASSWORD=azorde
DATABASE_NAME=azorde
UPLOAD_DEST=./uploads
TYPEORM_SYNC=true
TYPEORM_LOGGING=false
PIX_KEY_DEFAULT=38997351632

JWT_SECRET=mude-esta-chave
JWT_EXPIRES_SEC=604800
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SEED_ON_START=false
